<html>
  <head>
  </head>
  <body>
    <h1>New Book</h1>
    Name:
    <form action="{{url_for('newBook')}}" method='POST'>
      <input type='text' size='30' name='new_book'>
      <input type='submit' value='Sumbit'>
  </body>
</html>
